<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Regex</th>
      <th>Purpose</th>
      <th>Total</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @sources.each do |source| %>
    <tr>
      <td><%= source.id %></td>
      <td><%= source.name %></td>
      <td><%= source.regex %></td>
      <td><%= source.purpose.nil? ? 'uh oh' : source.purpose.name %></td>
      <td></td>
      <td><%= link_to('W', source_path(source), class: '') %></td>
      <td><%= link_to('j', source_path(source), method: :delete, data: {confirm: 'Are you sure?'}, class: '') %></td>
    </tr>
  <% end %>
  </tbody>
</table>