<div class='sources'>
  <div class='whole-margin-bottom'>
  <%= form_tag guess_sources_path, remote: true, class: 'js-disable_after_submit inline-block half-margin-bottom' do %>
    <%= submit_tag('Guess') %>
  <% end %>

  <%= form_tag create_many_sources_path, class: 'create_many_form inline' do %>
    <%= button_tag('ADD', class: 'js-add_fieldset', type: 'button') %>
    <%= submit_tag('CREATE') %>

    <%= field_set_tag nil, class: 'js-source_fieldset' do %>
      <%= text_field_tag('sources[]name', nil, class: 'js-name', placeholder: 'Name') %>
      <i class="fa fa-arrow-circle-o-left js-fill_in_name"></i>
      <%= text_field_tag('sources[]regex', nil, class: 'js-regex', placeholder: 'Regex') %>
      <div class='styled_select'>
        <%= select_tag('sources[]purpose_id', options_from_collection_for_select(Purpose.all, :id, :name), prompt: 'No Purpose', id: nil, class: 'js-purpose') %>
      </div>
      <i class="fa fa-times js-remove_source"></i>
    <% end %>
  <% end %>
  </div>

  <div class='half-margin-bottom'>
    <%= form_tag update_many_sources_path, class: 'js-update_many_sources_form inline' do %>
      <%= submit_tag('UPDATE') %>
    <% end %>

    <%= form_tag clear_sources_path, class: 'inline' do %>
      <%= submit_tag('clear', class: 'red_button', data: {confirm: 'Are you sure? This will clear all source stats.'}) %>
    <% end %>

    <%= form_tag refresh_sources_path, class: 'inline' do %>
      <%= submit_tag('refresh', class: 'red_button', data: {confirm: 'Are you sure? This will recalculate all sources.'}) %>
    <% end %>
  </div>

  <table class='js-sources_table'>
    <thead>
    <tr>
      <th>ID</th>
      <th>Popularity</th>
      <th>Name</th>
      <th>Regex</th>
      <th>Purpose</th>
      <th>Total</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @sources.each do |source| %>
      <tr class="<%= 'highlight' if source.purpose.nil? %>">
        <td><%= source.id %></td>
        <td><%= link_to(source.popularity, transactions_source_path(id: source.id), class: 'link') %></td>
        <td><%= text_field_tag("sources[#{source.id}]name", source.name) %></td>
        <td><%= text_field_tag("sources[#{source.id}]regex", source.regex) %></td>
        <td>
          <div class='styled_select'>
            <%= select_tag("sources[#{source.id}]purpose_id",
                           options_from_collection_for_select(Purpose.all, :id, :name, source.purpose.nil? ? '' : source.purpose.id), prompt: 'No Purpose') %>
          </div>
        </td>
        <td><%= display_price(source.total) %></td>
        <td><%= link_to('h', edit_source_path(source), class: 'taiga') %></td>
        <td><%= link_to('j', source_path(source), method: :delete, data: {confirm: 'Are you sure?'}, class: 'taiga') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>