<%= form_for @transformation do |f| %>

  <% if @transformation.errors.any? %>
  <% end %>

  <p>
    <%= f.label :regex %>
    <%= f.text_field :regex %>
  </p>

  <p>
    <%= f.label :case_insensitive %>
    <%= f.check_box :case_insensitive %>
  </p>

  <p>
    <%= f.label :derives %>
    <%= f.select :derives, Transaction.derivable, prompt: 'derives nothing' %>
  </p>

  <p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.label :set %>
    <%= f.select :set, Transformation.sets.keys, prompt: 'belongs to no set' %>
  </p>

  <p>
    <%= f.label :implies %>
    <%= f.collection_select :transformation_id, Transformation.transform, :id, :value, prompt: 'implies nothing' %>
  </p>

  <%= f.submit %>

<% end %>
