<%= form_for @transformation do |f| %>

  <% if @transformation.errors.any? %>
  <% end %>

  <p>
    <%= f.label :regex %>
    <%= f.text_field :regex %>
  </p>

  <p>
    <%= f.label :case_insensitive %>
    <%= f.check_box :case_insensitive %>
  </p>

  <p>
    <%= f.label :derives %>
    <%= f.text_field :derives %>
  </p>

  <p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.label :set %>
    <%= f.select :set, Transformation.sets.keys %>
  </p>

  <p>
    <%= f.label :implies %>
    <%# f.collection_select :purpose_ids, Purpose.order(:name), :id, :name, {}, { multiple: true, class: 'js-multiSelect' } %>
    <%= f.collection_select :transformation_id, Transformation.transform, :id, :value, prompt: 'implies nothing' %>
  </p>

  <%= f.submit %>

<% end %>
