<%= form_tag create_many_transformations_path do %>
  <%= button_tag('ADD', class: 'salmon_button button js-add_fieldset', type: 'button') %>
  <%= submit_tag('CREATE', class: 'salmon_button button') %>

  <%= field_set_tag nil, class: 'js-source_fieldset' do %>
    <%= text_field_tag('transformations[]pattern') %>
    <%= check_box_tag('transformations[]case_insensitive') %>
    <%= text_field_tag('transformations[]transform') %>
    <%= text_field_tag('transformations[]value') %>
    <%= select_tag("transformations[]transformation_type", options_for_select(Transformation.transformation_types.keys), prompt: 'No type') %>
  <% end %>
<% end %>



<table class='js-transformations_table'>
  <thead>
  <tr>
    <th>Pattern</th>
    <th>CI</th>
    <th>Transform</th>
    <th>Value</th>
    <th>Type</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @transformations.each do |transformation| %>
    <tr>
      <td><%= text_field_tag("transformations[#{transformation.id}]pattern", transformation.pattern) %></td>
      <td>
        <div>
          <%= hidden_field_tag("transformations[#{transformation.id}]case_insensitive", 0)%>
          <%= check_box_tag("transformations[#{transformation.id}]case_insensitive", 1, transformation.case_insensitive ) %>
        </div>
      </td>
      <td><%= text_field_tag("transformations[#{transformation.id}]transform", transformation.transform) %></td>
      <td><%= text_field_tag("transformations[#{transformation.id}]value", transformation.value ) %></td>
      <td class="<%= 'highlight' if transformation.transformation_type.nil? %>"><%= select_tag("transformations[#{transformation.id}]transformation_type", options_for_select(Transformation.transformation_types.keys, transformation.transformation_type), prompt: 'No type') %></td>
      <td><%= link_to('j', transformation_path(transformation), method: :delete, data: {confirm: 'Are you sure?'}, class: 'taiga') %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag update_many_transformations_path, class: 'js-update_many_transformations_form' do %>
  <%= submit_tag('UPDATE', class: 'salmon_button button') %>
<% end %>