<table>
  <thead>
  <tr>
    <th>Source</th>
    <th>Purpose</th>
    <th>Description</th>
    <th>Term</th>
    <th>Amount</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
    <tr class="<%= bill.status %>">
      <td><%= bill.source.name %></td>
      <td><%= bill.purpose.name %></td>
      <td><%= bill.description %></td>
      <td><%= bill.term_number %> <%= bill.term_unit %></td>
      <td><%= number_to_currency bill.amount %></td>
      <td><%= bill.due_date %></td>
      <td><%= bill.status %></td>
      <td>
        <% if bill.status != 'paid' %>
          <%= form_for(bill, url: paid_path) do |f| %>
            <%= f.hidden_field(:id, value: bill.id) %>
            <%= f.submit 'Paid' %>

            <%= f.label :final_bill, 'Final Bill?' %>
            <%= f.check_box :final_bill %>
          <% end %>
        <% else %>
          <%= button_tag('Done', disabled: true) %>
        <% end %>
      </td>
      <td class='taiga'><%= link_to('h', edit_bill_path(bill)) %></td>
      <td class='taiga'><%= link_to('W', bill_path(bill)) %></td>
      <td class='taiga'><%= link_to('j', bill_path(bill), method: :delete, data: {confirm: 'Are you sure?'}) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
