<%= render 'date_range', start_date: @start_date, end_date: @end_date %>

<table class='bills_table'>
  <thead>
  <tr>
    <th>Source</th>
    <th>Purpose</th>
    <th>Description</th>
    <th>Term</th>
    <th>Amount</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Final Bill?</th>
    <th>Paid?</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
    <tr class="<%= bill.status %>">
      <td><%= bill.source.try(:name) %></td>
      <td><%= bill.purpose.try(:name) %></td>
      <td><%= bill.description %></td>
      <td><%= bill.term_number %> <%= bill.term_unit %></td>
      <td><%= number_to_currency bill.amount %></td>
      <td><%= l(bill.due_date) %></td>
      <td><%= bill.status %></td>
      <td>
        <%= form_for bill do |f| %>
          <%= f.hidden_field(:final_bill, value: !bill.final_bill) %>
          <%= f.button('', class: "default fa #{ bill.final_bill ? 'fa-calendar-plus-o' : 'fa-calendar-times-o'}") %>
        <% end %>
      </td>
      <td>
        <%= form_for(bill, url: paid_path) do |f| %>
          <%= f.hidden_field(:id, value: bill.id) %>
          <%= f.button('', class: "default fa #{ bill.unpaid? ? 'fa-square-o' : 'fa-check-square-o'}") %>
        <% end %>
      </td>
      <td class='taiga'><%= link_to('h', edit_bill_path(bill)) %></td>
      <td class='taiga'><%= link_to('', "http://#{bill.link}", target: '_blank', class: 'fa fa-link') %></td>
      <td class='taiga'><%= link_to('W', bill_path(bill)) %></td>
      <td class='taiga'><%= link_to('j', bill_path(bill), method: :delete, data: {confirm: 'Are you sure?'}) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
