<table class='bills_table'>
  <thead>
  <tr>
    <th>Source</th>
    <th>Purpose</th>
    <th>Description</th>
    <th>Term</th>
    <th>Amount</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @bills.each do |bill| %>
    <tr class="<%= bill.status %>">
      <td><%= bill.source.name %></td>
      <td><%= bill.purpose.name %></td>
      <td><%= bill.description %></td>
      <td><%= bill.term_number %> <%= bill.term_unit %></td>
      <td><%= number_to_currency bill.amount %></td>
      <td><%= l(bill.due_date) %></td>
      <td><%= bill.status %></td>
      <td><i class="fa fa-calendar-times-o"></i></td>
      <td><%= link_to('', edit_bill_path(bill), class: 'fa fa-check-square-o') %></td>
      <td class='taiga'><%= link_to('h', edit_bill_path(bill)) %></td>
      <td class='taiga'><%= link_to('W', bill_path(bill)) %></td>
      <td class='taiga'><%= link_to('j', bill_path(bill), method: :delete, data: {confirm: 'Are you sure?'}) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
