<table class='bill_table'>
  <tr class='header'>
    <th>Issuer</th>
    <th>Type</th>
    <th>Description</th>
    <th>Cycle</th>
    <th>Amount</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </tr>

  <% @bills.each do |bill| %>
      <tr class="<%= bill.status %>">
        <td><%= bill.issuer %></td>
        <td><%= bill.bill_type %></td>
        <td><%= bill.description %></td>
        <td><%= bill.cycle %></td>
        <td><%= number_to_currency bill.amount %></td>
        <td><%= bill.due_date %></td>
        <td><%= bill.status %></td>
        <td>
          <% if bill.status != 'paid' %>
              <%= form_for(bill, url: paid_path) do |f| %>
                  <%= f.hidden_field(:id, value: bill.id) %>

                  <%= f.submit 'Paid' %>

              <% end %>
          <% else %>
              Done
          <% end %>
        </td>
        <td><%= link_to(edit_bill_path(bill)) do %>
              <%= image_tag('pencil.png') %>
          <% end %></td>
        <td><%= link_to('Show', bill_path(bill)) %></td>
        <td><%= link_to(bill_path(bill),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}) do %>
              <%= image_tag('trash.png') %>
              <% end %></td>
      </tr>
  <% end %>
</table>
