<!-- been using form_for for so long I forgot how to use form_tag -->
<%= form_tag @parser.new_record? ? parsers_path : parser_path, method: @parser.new_record? ? :post : :patch do |f| %>

  <p>
    <%= label_tag('parser[name]') %>
    <%= text_field_tag('parser[name]', @parser.name) %>
  </p>

  <!-- just for reference now -->
  <!--<p>-->
    <%#= label_tag('parser[status]') %>
    <%#= select_tag('parser[status]', options_for_select(Parser.statuses.keys)) %>
  <!--</p>-->

  <p>
    <%= label_tag(:transformation_date) %>
    <%= select_tag('parser[transformation_ids][]', options_from_collection_for_select(Transformation.date, :id, :regex, @parser.date_transformation.try(:id)), prompt: 'Date Pattern') %>
  </p>

  <p>
    <%= label_tag(:transformation_split) %>
    <%= select_tag('parser[transformation_ids][]', options_from_collection_for_select(Transformation.split, :id, :regex, @parser.split_transformation.try(:id)), prompt: 'Split Pattern') %>
  </p>

  <p>
    <%= label_tag(:transformation) %>
    <%= select_tag('parser[transformation_ids][]', options_from_collection_for_select(Transformation.where(set: [2,3]), :id, :pattern, @parser.other_transformations.pluck(:id)), multiple: true, class: 'js-multiSelect') %>
  </p>

  <%= submit_tag('SUBMIT', class: 'button salmon_button') %>
<% end %>
