<!-- been using form_for for so long I forgot how to use form_tag -->
<%= form_tag @parser.new_record? ? parsers_path : parser_path, method: @parser.new_record? ? :post : :patch do |f| %>

  <p>
    <%= label_tag('parser[name]', 'Name') %>
    <%= text_field_tag('parser[name]', @parser.name) %>
  </p>

  <!-- just for reference now -->
  <!--<p>-->
  <%#= label_tag('parser[status]') %>
  <%#= select_tag('parser[status]', options_for_select(Parser.statuses.keys)) %>
  <!--</p>-->

  <div>
    <%= label_tag(:transformation_date, 'Date Transformation') %>
    <div class='styled_select'>
      <%= select_tag('parser[transformation_ids][]', options_from_collection_for_select(Transformation.date, :id, :regex, @parser.date_transformation.try(:id)), prompt: 'Date Pattern') %>
    </div>
  </div>

  <div>
    <%= label_tag(:transformation_split, 'Split Transformation') %>
    <div class='styled_select'>
      <%= select_tag('parser[transformation_ids][]', options_from_collection_for_select(Transformation.split, :id, :regex, @parser.split_transformation.try(:id)), prompt: 'Split Pattern') %>
    </div>
  </div>

  <p>
    <%= label_tag(:transformations, 'Transformations') %>
    <%= select_tag('parser[transformation_ids][]', options_from_collection_for_select(Transformation.where(set: [2, 3]), :id, :regex, @parser.other_transformations.pluck(:id)), multiple: true, class: 'js-multiSelect') %>
  </p>



  <div>
    <%= label_tag(:search_order, 'Search Order') %>
    <% columns = Transaction.derivable - @parser.search_order.to_a %>

    <div class='js-better-select'>
      <ul>
        <% columns.each do |name| %>
          <li><%= hidden_field_tag('parser[search_order][]', name, disabled: true) %><%= name %></li>
        <% end %>
      </ul>

      <ul class='js-sortable'>
        <% @parser.search_order.to_a.each do |name| %>
          <li><%= hidden_field_tag('parser[search_order][]', name) %><%= name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <%= label_tag(:expected_order, 'Expected Order') %>
    <% columns = Transaction.derivable - @parser.expected_order.to_a %>

    <div class='js-better-select'>
      <ul>
        <% columns.each do |name| %>
          <li><%= hidden_field_tag('parser[expected_order][]', name, disabled: true) %><%= name %></li>
        <% end %>
      </ul>

      <ul class='js-sortable'>
        <% @parser.expected_order.to_a.each do |name| %>
          <li><%= hidden_field_tag('parser[expected_order][]', name) %><%= name %></li>
        <% end %>
      </ul>
    </div>
  </div>



  <%= submit_tag('SUBMIT') %>
<% end %>