<div>
  <%= link_to(edit_parser_path, class: 'link') do %>
  <span>Edit Parser</span>
  <span class='taiga'>h</span>
  <% end %>
</div>
<dl>
  <dt>Name</dt>
  <dd><%= @parser.name %></dd>
  <dt>ID</dt>
  <dd><%= @parser.id %></dd>
  <dt>Date Transformation (<%= @parser.date_transformations.count %>)</dt>
  <dd><%= @parser.date_transformations.empty? ? 'missing' : @parser.date_transformations.first.regex %></dd>
  <dt>Split Transformation (<%= @parser.split_transformations.count %>)</dt>
  <dd><%= @parser.split_transformations.empty? ? 'missing' : @parser.split_transformations.first.regex %></dd>
  <dt>Status</dt>
  <dd><%= @parser.status %></dd>
  <dt>Other Transformations (<%= @parser.other_transformations.count %>)</dt>
  <% @parser.other_transformations.each do |transformation| %>
    <dd><%= transformation.regex %></dd>
  <% end %>
</dl>
