<ul class='categories_list'>
  <% categories.each do |category| %>
    <li>
      <p><%= category.name %></p>

      <p><%= number_to_currency(category.cached_total) %></p>

      <div class='overlay'></div>

      <div class='actions_container'>
        <div class='actions'>
          <%= link_to('u', transactions_category_path(category), class: 'taiga') %>
          <%= link_to('E', graph_category_path(category), class: 'taiga') %>
          <%= link_to('h', edit_category_path(category), class: 'taiga') %>
          <%= link_to('j', category_path(category), method: :delete, data: {confirm: 'Are you sure?'}, class: 'taiga') %>
        </div>
      </div>
    </li>
  <% end %>

  <% if defined?(fake_category) && fake_category.present? %>
  <li class='missing'>
    <p><%= fake_category.name %></p>

    <p><%= number_to_currency(fake_category.transactions.sum(:amount)) %></p>

    <div class='overlay'></div>

    <div class='actions_container'>
      <div class='actions'>
        <%= link_to('u', transactions_category_set_path(set, name: 'missing'), class: 'taiga', remote: true) %>
      </div>
    </div>
  </li>
  <% end %>
</ul>