<%= form_for @category do |f| %>

  <% if @category.errors.any? %>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :source_ids, 'Sources' %>
    <%= f.collection_check_boxes :source_ids, Source.order(:name), :id, :name, {}, { multiple: true } %>
  </p>

  <%= f.submit 'SUBMIT', class: 'button salmon_button' %>

<% end %>
