<%# refactor into partial ? %>

<% unless @transactions.empty? %>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Description</th>
      <th>Source</th>
      <th>Purpose</th>
      <th>Locality</th>
      <th>Region</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= l(transaction.date) %></td>
        <td><%= transaction.generate_description %></td>
        <td><%= transaction.guess_source.try(:name) || '?' %></td>
        <td><%= transaction.guess_purpose.try(:name) || '?' %></td>
        <td><%= transaction.locality || '?' %></td>
        <td><%= transaction.region || '?' %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>