<%= form_for @transaction do |f| %>

  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: :any %>
  </p>

  <p>
    <%= f.label :raw_description, 'Raw Description' %>
    <%= f.text_area :raw_description %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <div>
    <%= f.label :source %>
    <div class='styled_select'>
      <%= f.collection_select(:source_id, Source.all, :id, :name, include_blank: 'Guess for me') %>
    </div>
  </div>

  <div>
    <%= f.label :purpose %>
    <div class='styled_select'>
      <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, include_blank: 'Guess for me') %>
    </div>
  </div>

  <p>
    <%= f.submit 'CREATE TRANSACTION' %>
  </p>
<% end %>