<table class='transactions_table'>
  <td class='js-running_total'>0.00</td>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>ID</th>
    <th style="width: 6em;">Date</th>
    <th>Description</th>
    <th>Source</th>
    <th>Purpose</th>
    <th>Locality</th>
    <th>Region</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <% transactions.each do |transaction| %>
    <tr class='js-transactions'>
      <td><%= check_box_tag transaction.id %></td>
      <td><%= transaction.id %></td>
      <td><%= l(transaction.date) %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.source.try(:name) || '?' %></td>
      <td><%= transaction.purpose.try(:name) || '?' %></td>
      <td><%#= transaction.locality || '?' %></td>
      <td><%#= transaction.region || '?' %></td>
      <td class='js-amount'><%= number_to_currency(transaction.amount) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  $('.js-transactions').click(function() {
    var amount = parseFloat($('.js-amount', this).html().replace(/,|\$/g, ''));
    var current = parseFloat($('.js-running_total').html().replace(/,|\$/g, '')) || 0;
    var total = $(this).hasClass('selected') ? current - amount : current + amount;

    $(this).toggleClass('selected');
    $('.js-running_total').html(total.toFixed(2));
  });
</script>