<div class='transactions'>
  <div class='whole_column'>
    <%= form_tag(import_transactions_path, multipart: true, class: 'import_transactions') do %>
        <%= file_field_tag 'file', class: 'file_input', required: true, accept: '.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' %>
      <%= submit_tag 'Upload' %>
    <% end %>

    <%= form_tag(parse_transactions_path(transaction_ids: @transactions.where(source: nil).map(&:id))) do %>
      <%= submit_tag 'Parse' %>
    <% end %>
  </div>

  <div class='whole_column  last_column'>
    <%= render 'date_range', start_date: @start_date, end_date: @end_date %>
  </div>

  <div class='whole_column'>
    <% unless @transactions.empty? %>
        <%= render 'transactions', transactions: @transactions %>
     <% else %>
      <div class='flash-notice'>No transactions found between <%= l(@start_date.to_date) %> and <%= l(@end_date.to_date) %></div>
    <% end %>
  </div>
</div>