<header>
  <div class='mobile_nav_headers hide_on_desktop'>
    <div class='home'><%= link_to '', dashboard_path, class: 'fa fa-home' %></div>
    <div class='menu js-toggle_menu'><%= link_to('', '', class: 'fa fa-bars') %></div>
  </div>

  <nav class='js-nav'>
    <ul>
      <li class='hide_on_mobile hide_on_tablet'><%= active_link_to '', dashboard_path, class: 'desktop_home fa fa-home' %></li>
      <li class='more'><%= active_link_to 'Bills', bills_path %>
        <ul>
          <li><%= link_to 'New Bill', new_bill_path %></li>
        </ul>
      </li>
      <li class='more'><%= active_link_to 'Transactions', transactions_path %>
        <ul>
          <li><%= link_to 'Monthly Breakdown', breakdown_transactions_path %></li>
          <li><%= link_to 'Unknown', unknown_transactions_path %></li>
          <li><%= link_to 'New Transaction', new_transaction_path %></li>
        </ul>
      </li>
      <li class='more'><%= active_link_to 'Sets', category_sets_path %>
        <ul>
          <li><%= link_to 'New Set', new_category_set_path %></li>
        </ul>
      </li>
      <li class='more'><%= active_link_to 'Categories', categories_path %>
        <ul>
          <li><%= link_to 'Trends', trends_categories_path %></li>
          <li><%= link_to 'Bubbles', '' %></li>
          <li><%= link_to 'Clear Cache', clear_cache_categories_path %></li>
          <li><%= link_to 'New Category', new_category_path %></li>
          </ul>
      </li>
      <li class='more'><%= active_link_to 'Sources', sources_path %>
        <ul>
          <li><%= link_to 'Bubbles', bubbles_sources_path %></li>
          <li><%= link_to 'New Source', new_source_path %></li>
        </ul>
      </li>
      <li class='more'><%= active_link_to 'Purposes', purposes_path %>
        <ul>
          <li><%= link_to 'Monthly Breakdown', breakdown_purposes_path %></li>
        </ul>
      </li>
      <li class='more'><%= active_link_to 'Transformations', transformations_path %>
        <ul>
          <li><%= link_to 'New Transformation', new_transformation_path %></li>
        </ul>
      </li>
      <li class='more'><%= active_link_to 'Parsers', parsers_path %>
        <ul>
          <li><%= link_to 'New Parser', new_parser_path %></li>
        </ul>
      </li>
      <li><%= active_link_to 'Accounts', accounts_path %></li>
    </ul>
  </nav>
</header>
