<% grand_total =  Transaction.all.sum(:amount) %>

<% @sets.each do |set| next if set.categories.empty? %>
  <%= set.sources.pluck(:name) %>
  <%= set.purposes.pluck(:name) %>

  <%= set.missing.pluck(:description) %>
  <% total = set.categories.inject(0){|sum,x| sum + x.cached_total } %>

  <fieldset class='set <%= ('complete' if grand_total == total ) %>'>
    <legend><%= set.name %> <%= number_to_currency total %> </legend>
    <%= render 'categories/categories', categories: set.categories %>
  </fieldset>
<% end %>




<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Total</th>
    <th>Inclusive?</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @sets.each do |set| %>
    <tr>
      <td><%= set.id %></td>
      <td><%= set.name %></td>
      <td><%= number_to_currency(set.total) %></td>
      <td><%= set.inclusive? %></td>
      <td><%= link_to('E', graph_category_set_path(set), class: 'taiga') %></td>
      <td><%= link_to('h', edit_category_set_path(set), class: 'taiga') %></td>
      <td><%= link_to('j', category_set_path(set), method: :delete, data: {confirm: 'Are you sure?'}, class: 'taiga') %></td>
    </tr>
  <% end %>
  </tbody>
</table>