<!DOCTYPE html>
<html>
<head>
  <title>BillsReminder</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css">
</head>
<body>

  <% if Parser.parser.nil? %>
    <div class='alert'>There is no enabled parser!</div>
  <% end %>

  <div class="outer-container">
    <%= render 'header' %>
  </div>

  <%= render 'flash_messages' %>

  <div class="outer-container">
    <div class="outer-container main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
